* {
    padding: 0;
    margin: 0;
    font-family: Helvetica, sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
  }
  
  header {
    position: sticky;
    top: 0;
    background-color: #4986b8;
    color: white;
    height: 40px;
    padding: 20px;
    width: 100%;
  }
  
  main {
    margin: 10px auto;
    height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  main aside,
  main section {
    padding: 10px;
  }
  
  .left {
    background-color: moccasin;
  }
  
  section {
    background-color: aliceblue;
  }
  
  .right {
    background-color: mistyrose;
  }
  
  footer {  
    background-color: black;
    color: white;
    padding: 20px;
    width: 100%;
  }

  @media screen and (max-width: 480px) {
    main {
      display: flex;
      flex-direction: column;
      margin-bottom: 150px;
    }

    footer {
      flex-shrink: ;
    }
  }