#texto-fonte-root{
    font-size: 3rem;
    background-color: chartreuse;
}

#texto-paddings-verticais{
    padding: 2em 0;
    background-color: yellow;
}

#altura-porcentagem-comprimento{
    height: 20vw;
    background-color: lightblue;
}

#comprimento-metade-altura{
    width: 50vh;
    background-color: orange;
}

.container{
    border: 1px solid black;
    width: 400px;
    font-size: 20px;
}

#fonte-setenta{
    font-size: 70%;
}

#comprimento-pai{
    width: 10%;
}

#altura-pai{
    height: 10%;
}